@model MovieApp.ViewModels.RandomMovieViewModel
@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

@if (Model.Movie == null || !Model.Movie.Any())
{
    <p>No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var movie in Model.Movie)
        {
            <li>@movie.Name</li>
        }
    </ul>
}
