@model IEnumerable<MovieApp.Models.Customer>

@{
    ViewData["Title"] = "Customers";
    
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We do not have any customers.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
              <th>Customer</th>
              <th>Discount Rate</th>
          </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Customer" asp-action="Details" asp-route-id="@customer.Id">
                        @customer.Name
                    </a>
                </td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
        </tbody>
    </table>
}